<div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box no-preview">
        <span class="info-box-icon bg-yellow">
            <i class="fa fa-eye-slash"></i>
        </span>
        <div class="info-box-content">
            <span class="info-box-text">no preview available</span>
            <span class="info-box-number">puede descargar el archivo</span>
        </div>
    </div>
</div>