<div class="modal modal-primary" id="modal-download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> {#fade#}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-fw fa-cloud-download"></i> Archivo
                </h4>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-md-6">
                        <blockquote class="pull-right">
                            <p>Comp&aacute;rtelo, con la humanidad</p>
                            <small><cite title="Source Title">Tianos</cite></small>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <div class="description-block">
                            <a class="btn btn-outline" href="https://docs.google.com/uc?id=0BxHWV4Y16ARlMjFUTXNJdmN3N3c&export=download">
                                <i class="fa fa-fw fa-download"></i> Descargar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline " data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>