<div class="modal modal-info" id="modal-info">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-fw fa-question-circle"></i> Necesita ayuda sobre el archivo?
                </h4>
            </div>

            <div class="modal-body">

                <ul>
                    <li>No puede ver el archivo?, aqui algunas razones:</li>
                    <ul>
                        <li>El archivo es un folder.</li>
                        <li>El archivo no tiene permiso publico.</li>
                    </ul>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>