<div class="offer-wrap only-on-main-page">
    <div class="container">
        <div class="row">
            {#<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-offer.php">#}
            <div class="span12" data-motopress-type="static" data-motopress-static-file="">
                <div class="offer">
                    <div class="row ">
                        <div class="span12">

                            <section
                                id="fixedparallax_5983a6ba0cbbe"
                                class="fixed_parallax_section cherry_fixed_parallax"
                                data-source-url="{{ asset('bundles/core/template-frontend/template-3/images/parallax.jpg') }}"
                                data-source-width="1920" data-source-height="1200">

                                <div class="container parallax_content">
                                    <div class="row">
                                        <div class="span7">
                                            <p>
                                                <img src="{{ asset('bundles/core/template-frontend/template-3/images/logo_2.png') }}" alt="Logo" class="logo" />
                                            </p>

                                            {% block paragraph_1 %}
                                                <h1>WayApp Theme is a really<br />
                                                    best way to present your<br />
                                                    beautiful mobile app</h1>
                                                <p>Available on App Store &amp; Google Play.</p>
                                                <a href="#" title="Download App" class="btn btn-default btn-normal btn-inline " target="_self">
                                                    <i class="icon-cloud"></i>Download App
                                                </a>
                                                <a href="#" title="Learn more" class="btn btn-default btn-normal btn-inline clean" target="_self">
                                                    Learn more
                                                </a>
                                            {% endblock %}

                                        </div>
                                        <div class="span1"></div>
                                        <div class="span3">
                                            <p>
                                                <img src="{{ asset('bundles/core/template-frontend/template-3/images/iphone.png') }}" alt="Logo" />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>