<div class="row">
    <div class="span12 tofade">
        <div class="content_box without-paddings">
            <div class="spacer"></div>

            <div class="row same-height">
                <div class="span7 get-app tofade">
                    <div class="spacer"></div>

                    {% block paragraph_1 %}
                        <h1>Get WayApp right now!</h1>
                        <p>Choose yoursus dyne platform.</p>
                        <a href="#" title="Apple iOS" class="btn btn-default btn-normal btn-inline download-for-link" target="_self">
                            <i class="icon-apple"></i>Apple iOS
                        </a>
                        <a href="#" title="Android" class="btn btn-default btn-normal btn-inline download-for-link" target="_self">
                            <i class="icon-android"></i>Android
                        </a>
                    {% endblock %}

                </div>
                <div class="span5 without-margins right-align tofade">
                    <p>
                        <img
                            class="alignnone size-full wp-image-2035"
                            src="{{ asset('bundles/core/template-frontend/template-3/images/hand-iphone1.jpg') }}"
                            alt="hand-iphone"
                            width="420"
                            height="479" />
                    </p>
                </div>
            </div>

            <div class="clear"></div>
        </div>

        <div class="spacer"></div>

    </div>
</div>