<script type="text/javascript">
    jQuery(window).load(function() {
        jQuery("#flexslider_bmrhhfzhqd").flexslider({
            animation: "slide",
            smoothHeight : true,
            directionNav: true,
            controlNav: false,
            rtl: false
        });
    });
</script>


<div class="row ">
    <div class="span12 tofade">

        <div class="content_box blue">
            <div class="service-box demo-title">
                <div class="service-box_body">
                    {% block paragraph_1 %}
                        <h2 class="title">Check out WayApp in action, hit the button!</h2>
                        <div class="btn-align">
                            <a href="xxxx" title="Watch demo" class="btn btn-inverse btn-normal btn-primary" target="_self">
                                Watch demo
                            </a>
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="hashAncor" id="reviewsPage"></div>
        <div class="spacer"></div>

    </div>
</div>
