<div class="row">
    <div class="span12 tofade">
        <div class="title-box clearfix ">
            <span class="title-box_icon">
                <img src="{{ asset('bundles/core/template-frontend/template-3/images/quotes.png') }}" alt="" />
            </span>
            <h2 class="title-box_primary">
                {% block paragraph_1 %}
                    They talk about WayApp
                {% endblock %}
            </h2>
        </div>
    </div>
</div>
