.no-preview {
    margin-top: 15px;
    -webkit-box-shadow: 2px 3px 31px 0px rgba(130,117,130,0.8);
    -moz-box-shadow: 2px 3px 31px 0px rgba(130,117,130,0.8);
    box-shadow: 2px 3px 31px 0px rgba(130,117,130,0.8);
}