{% extends 'CoreBundle::TemplateFrontend/Template-3/base.html.twig' %}

{% block title %}
    Index
{% endblock %}

{% block body_class %}
    home page page-id-203 page-template page-template-page-home-php
{% endblock %}

{% block content %}
    <div id="motopress-main" class="main-holder">

        <div class="motopress-wrapper content-holder clearfix">
            <div class="container">
                <div class="row">
                    <div class="span12" data-motopress-wrapper-file="page-home.php" data-motopress-wrapper-type="content">
                        <p>Info: este es el template por default, valide el controller del frontend</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

