{% spaceless %}
    <div class="modal modal-warning fade in" id="{{ crud.modal_change_password_id }}">
        <div class="modal-dialog {{ crud.modal_change_password_size }}">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <i class="fa fa-fw fa-pencil"></i> Cambiar password
                        <small class="label label-warning" style="font-size: 65%;"></small>
                        <i class="fa fa-refresh fa-spin" style="color: white; margin-left: 10px; display:none"></i>
                    </h4>
                </div>

                <form name="{{ crud.form_change_password_name }}" method="post" class="">
                    <div class="api-content"></div>
                </form>

            </div>

        </div>
    </div>
{% endspaceless %}
