{% extends 'CoreBundle::TemplateFrontend/Template-3/base.html.twig' %}

{% block title %}
    Blog
{% endblock %}

{% block body_class %}
    single single-post postid-1910 single-format-standard cat-1-id
{% endblock %}

{% block content %}
    <div id="motopress-main" class="main-holder">

        {{ include("CoreBundle::TemplateFrontend/Template-3/Pages/Header/header.html.twig") }}

        <div class="blog-posts mCustomScrollbar _mCS_1" style="top: 74px; height: 460px; left: -655px;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                    <div class="top-header">
                        <div class="left">
                            All articles:
                        </div>
                        <div class="right">
                            <a href="#" class="close-posts">Hide</a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <ul class="blog-posts-list clearfix">

                        <li class="item-1">
                            <img width="262" height="175" src="https://livedemo00.template-help.com/wordpress_52146/wp-content/uploads/2014/11/Depositphotos_10716085_original-262x175.jpg" class="attachment-262x175 wp-post-image" alt="Busy consultant">
                            <div class="desc">
                                <h2>
                                    <a href="https://livedemo00.template-help.com/wordpress_52146/sequitur-mutationem/mauris-posuere/">Mauris posuere</a>
                                </h2>
                                <time>14 March</time>
                            </div>
                        </li>

                        <li class="item-2">
                            <img width="262" height="175" src="https://livedemo00.template-help.com/wordpress_52146/wp-content/uploads/2014/11/Depositphotos_9649168_original-262x175.jpg" class="attachment-262x175 wp-post-image" alt="Set">
                            <div class="desc">
                                <h2>
                                    <a href="https://livedemo00.template-help.com/wordpress_52146/etiam-processus/donec-tempor-libero/">Donec tempor libero</a>
                                </h2>
                                <time>05 March</time>
                            </div>
                        </li>

                        <li class="item-3">
                            <img width="262" height="175" src="https://livedemo00.template-help.com/wordpress_52146/wp-content/uploads/2014/11/Depositphotos_7631870_original-262x175.jpg" class="attachment-262x175 wp-post-image" alt=" concept">
                            <div class="desc">
                                <h2>
                                    <a href="https://livedemo00.template-help.com/wordpress_52146/etiam-processus/etiam-dictum-egestas/">Etiam dictum egestas</a>
                                </h2>
                                <time>14 February</time>
                            </div>
                        </li>

                        <li class="item-4">
                            <img width="262" height="175" src="https://livedemo00.template-help.com/wordpress_52146/wp-content/uploads/2014/11/Depositphotos_5491492_original-262x175.jpg" class="attachment-262x175 wp-post-image" alt="Aite">
                            <div class="desc">
                                <h2>
                                    <a href="https://livedemo00.template-help.com/wordpress_52146/claritas-est-processus/phasellus-fringilla/">Phasellus fringilla</a>
                                </h2>
                                <time>14 February</time>
                            </div>
                        </li>

                    </ul>
                </div>

                <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark mCSB_scrollTools_vertical" style="display: block;">
                    <div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 184px; top: 0px; display: block; max-height: 350px;" oncontextmenu="return false;">
                            <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                        </div>
                        <div class="mCSB_draggerRail"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="motopress-wrapper content-holder clearfix" style="left: 0px;">
            <div class="container">
                <div class="row">
                    <div class="span12" data-motopress-wrapper-file="single.php" data-motopress-wrapper-type="content">
                        <div class="row">
                            <div class="span12" id="content" data-motopress-type="loop" data-motopress-loop-file="loop/loop-single.php">

                                <article id="post-1910" class="post-1910 post type-post status-publish format-standard has-post-thumbnail hentry category-sequitur-mutationem tag-elit tag-ipsum-dolor tag-lorem post__holder cat-1-id">

                                    <div class="wrapper-left fixed" style="height: 460px; margin-left: -952.5px; width: 837.5px; left: 50%; top: 74px; transform: translateX(0px); bottom: auto;">
                                        <header class="post-header" style="background-image: url('https://livedemo00.template-help.com/wordpress_52146/wp-content/uploads/2014/11/Depositphotos_11508133_original-900x444.jpg')">
                                            <div class="desc-wrap">
                                                <div class="row">
                                                    <div class="span5">
                                                        <div class="post_meta meta_type_line">
                                                            <div class="post_meta_unite clearfix">
                                                                <div class="meta_group clearfix">
                                                                    <div class="post_date">
                                                                        <i class="icon-calendar"></i>
                                                                        <time datetime="2014-05-27T06:31:56">May 27, 2014</time>
                                                                    </div>
                                                                    <div class="post_author">
                                                                        <i class="icon-user"></i>
                                                                        <a href="https://livedemo00.template-help.com/wordpress_52146/author/admin/" title="Post" rel="author">admin</a>								</div>
                                                                </div>
                                                                <div class="meta_group clearfix"></div>
                                                                <div class="meta_group clearfix"></div>
                                                            </div>
                                                        </div>
                                                        <div class="title">
                                                            <h2 class="post-title">Aliquam erat volutpat</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="posts">
                                                <div class="row">
                                                    <div class="span5">
                                                        <div class="left">
                                                            <a href="#" class="show-posts" style="opacity: 1;">More articles</a>
                                                        </div>
                                                        <div class="right">
                                                            <a href="https://livedemo00.template-help.com/wordpress_52146/sequitur-mutationem/mauris-posuere/" rel="prev">Mauris posuere</a>															</div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                    </div>

                                    <div class="post_content">
                                        <h3>Aliquam dapibusim, pulvinar ac, lorem.</h3>
                                        <p>Lorem ipsum d. Aenean auctote eu lacus.</p>
                                        <h3>Praesentgnar adipiscing elit.</p>
                                        <div class="clear"></div>
                                    </div>

                                </article>

                                <!-- Facebook Like Button -->
                                <script>(function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) {return;}
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>

                                <!-- Google+ Button -->
                                <script type="text/javascript">
                                    (function() {
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = '//apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                    })();
                                </script>

                                <!-- //.share-buttons -->
                                <ul class="share-buttons unstyled clearfix">
                                    <li class="twitter">
                                        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.f8c8d971a6ac545cf416e3c1ad4bbc65.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Flivedemo00.template-help.com%2Fwordpress_52146%2Fsequitur-mutationem%2Faliquam-erat-volutpat%2F&amp;size=m&amp;text=Aliquam%20erat%20volutpat&amp;time=1504799237750&amp;type=share&amp;url=https%3A%2F%2Flivedemo00.template-help.com%2Fwordpress_52146%2Fsequitur-mutationem%2Faliquam-erat-volutpat%2F" style="position: static; visibility: visible; width: 61px; height: 20px;"></iframe>
                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                    </li>
                                    <li class="facebook">
                                        <div id="fb-root" class=" fb_reset">
                                            <div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div>
                                            <iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Fe" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/0sTQzbapM8j.js?version=42#channel=f345b7365f35fe&amp;origin=https%3A%2F%2Flivedemo00.template-help.com" style="border: none;"></iframe>
                                        </div>
                                        </div>
                                            <div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fb-like fb_iframe_widget" data-href="https://livedemo00.template-help.com/wordpress_52146/sequitur-mutationem/aliquam-erat-volutpat/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=90&amp;font=arial&amp;href=https%3A%2F%2Flivedemo00.template-help.com%2Fwordpress_52146%2Fsequitur-mutationem%2Faliquam-erat-volutpat%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=100">
                                            <span style="vertical-align: bottom; width: 62px; height: 20px;">
                                                <iframe name="f28f8dd90fac15c" width="100px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fbn" src="https://www.facebook.com/plugins/like.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F0sTQzbapM8j.js%3Fversion%3D42%23cb%3Df2dedee28335cec%26domain%3Dlivedemo00.template-help.com%26origin%3Dhttps%253A%252F%252Flivedemo00.template-help.com%252Ff345b7365f35fe%26relation%3Dparent.parent&amp;container_width=90&amp;font=arial&amp;href=https%3A%2F%2Flivedemo00.template-help.com%2Fwordpress_52146%2Fsequitur-mutationem%2Faliquam-erat-volutpat%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=100" style="border: none; visibility: visible; width: 62px; height: 20px;" class=""></iframe>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="google">
                                        <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px;">
                                            <iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1504799237451" name="I0_1504799237451" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=https%3A%2F%2Flivedemo00.template-help.com&amp;url=https%3A%2F%2Flivedemo00.template-help.com%2Fwordpress_52146%2Fsequitur-mutationem%2Faliquam-erat-volutpat%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.S3Iy34Pth5k.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCMo5dQ_q5XMUxItYWxHlvOot3FDdQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1504799237451&amp;parent=https%3A%2F%2Flivedemo00.template-help.com&amp;pfname=&amp;rpctoken=18115187" data-gapiattached="true" title="G+"></iframe>
                                        </div>
                                    </li>
                                    <li class="pinterest">
                                        <a href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','//assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)})());"><img src="//assets.pinterest.com/images/PinExt.png" alt=""></a>
                                    </li>
                                </ul>

                                <!--.post-author-->
                                <div class="post-author clearfix">
                                    <h3 class="post-author_h">Written by <a href="https://livedemo00.template-help.com/wordpress_52146/author/admin/" title="Posts by admin" rel="author">admin</a></h3>
                                    <p class="post-author_gravatar"><img alt="" src="https://1.gravatar.com/avatar/b263802e2004e058851acabb4111135e?s=80&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G" class="avatar avatar-80 photo" height="80" width="80"></p>
                                    <div class="post-author_desc">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis sere natoque penati bus et magnis dis. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit lorem. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.
                                        <div class="post-author_link">
                                            <p>View all posts by: <a href="https://livedemo00.template-help.com/wordpress_52146/author/admin/" title="Posts by admin" rel="author">admin</a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="related-posts">
                                    <h3 class="related-posts_h">Related Posts</h3>

                                    <ul class="related-posts_list clearfix">
                                        <li class="related-posts_item">
                                            <figure class="thumbnail featured-thumbnail">
                                                <a href="https://livedemo00.template-help.com/wordpress_52146/sequitur-mutationem/mauris-posuere/" title="Mauris posuere">
                                                    <img alt="Mauris posuere" src="https://livedemo00.template-help.com/wordpress_52146/wp-content/uploads/2014/11/Depositphotos_10716085_original-250x150.jpg">
                                                </a>
                                            </figure>
                                            <a href="https://livedemo00.template-help.com/wordpress_52146/sequitur-mutationem/mauris-posuere/">Mauris posuere</a>
                                        </li>
                                        <li class="related-posts_item">
                                            <figure class="thumbnail featured-thumbnail">
                                                <a href="https://livedemo00.template-help.com/wordpress_52146/etiam-processus/donec-tempor-libero/" title="Donec tempor libero">
                                                    <img alt="Donec tempor libero" src="https://livedemo00.template-help.com/wordpress_52146/wp-content/uploads/2014/11/Depositphotos_9649168_original-250x150.jpg">
                                                </a>
                                            </figure>
                                            <a href="https://livedemo00.template-help.com/wordpress_52146/etiam-processus/donec-tempor-libero/">Donec tempor libero</a>
                                        </li>
                                        <li class="related-posts_item">
                                            <figure class="thumbnail featured-thumbnail">
                                                <a href="https://livedemo00.template-help.com/wordpress_52146/etiam-processus/etiam-dictum-egestas/" title="Etiam dictum egestas">
                                                    <img alt="Etiam dictum egestas" src="https://livedemo00.template-help.com/wordpress_52146/wp-content/uploads/2014/11/Depositphotos_7631870_original-250x150.jpg">
                                                </a>
                                            </figure>
                                            <a href="https://livedemo00.template-help.com/wordpress_52146/etiam-processus/etiam-dictum-egestas/">Etiam dictum egestas</a>
                                        </li>
                                        <li class="related-posts_item">
                                            <figure class="thumbnail featured-thumbnail">
                                                <a href="https://livedemo00.template-help.com/wordpress_52146/claritas-est-processus/phasellus-fringilla/" title="Phasellus fringilla">
                                                    <img alt="Phasellus fringilla" src="https://livedemo00.template-help.com/wordpress_52146/wp-content/uploads/2014/11/Depositphotos_5491492_original-250x150.jpg">
                                                </a>
                                            </figure>
                                            <a href="https://livedemo00.template-help.com/wordpress_52146/claritas-est-processus/phasellus-fringilla/">Phasellus fringilla</a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- BEGIN Comments -->
                                <div id="comments" class="comment-holder">
                                    <h3 class="comments-h">3 Responses</h3>
                                    <div class="pagination">

                                    </div>
                                    <ol class="comment-list clearfix">
                                        <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 clearfix" id="li-comment-22">
                                            <div id="comment-22" class="comment-body clearfix">
                                                <div class="wrapper">
                                                    <div class="comment-author vcard">
                                                        <img alt="" src="https://1.gravatar.com/avatar/53444f91e698c0c7caa2dbc3bdbf93fc?s=65&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D65&amp;r=G" class="avatar avatar-65 photo" height="65" width="65">					<span class="author">admin</span>				</div>
                                                    <div class="extra-wrap">
                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis sere natoque penati bus et magnis dis. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit lorem. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.</p>
                                                    </div>
                                                </div>
                                                <div class="wrapper">
                                                    <div class="reply">
                                                        <a class="comment-reply-link btn-from-top btn" href="/wordpress_52146/sequitur-mutationem/aliquam-erat-volutpat/?replytocom=22#respond" onclick="return addComment.moveForm(&quot;comment-22&quot;, &quot;22&quot;, &quot;respond&quot;, &quot;1910&quot;)"><span data-hover="Reply">Reply</span></a>				</div>
                                                    <div class="comment-meta commentmetadata">May 27, 2014</div>
                                                </div>
                                            </div>
                                            <ul class="children">
                                                <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2 clearfix" id="li-comment-23">
                                                    <div id="comment-23" class="comment-body clearfix">
                                                        <div class="wrapper">
                                                            <div class="comment-author vcard">
                                                                <img alt="" src="https://1.gravatar.com/avatar/53444f91e698c0c7caa2dbc3bdbf93fc?s=65&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D65&amp;r=G" class="avatar avatar-65 photo" height="65" width="65">					<span class="author">admin</span>				</div>
                                                            <div class="extra-wrap">
                                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis sere natoque penati bus et magnis dis. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit lorem. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.</p>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper">
                                                            <div class="reply">
                                                                <a class="comment-reply-link btn-from-top btn" href="/wordpress_52146/sequitur-mutationem/aliquam-erat-volutpat/?replytocom=23#respond" onclick="return addComment.moveForm(&quot;comment-23&quot;, &quot;23&quot;, &quot;respond&quot;, &quot;1910&quot;)"><span data-hover="Reply">Reply</span></a>				</div>
                                                            <div class="comment-meta commentmetadata">May 27, 2014</div>
                                                        </div>
                                                    </div>
                                                    <ul class="children">
                                                        <li class="comment byuser comment-author-admin bypostauthor even depth-3 clearfix" id="li-comment-24">
                                                            <div id="comment-24" class="comment-body clearfix">
                                                                <div class="wrapper">
                                                                    <div class="comment-author vcard">
                                                                        <img alt="" src="https://1.gravatar.com/avatar/53444f91e698c0c7caa2dbc3bdbf93fc?s=65&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D65&amp;r=G" class="avatar avatar-65 photo" height="65" width="65">					<span class="author">admin</span>				</div>
                                                                    <div class="extra-wrap">
                                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis sere natoque penati bus et magnis dis. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit lorem. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.</p>
                                                                    </div>
                                                                </div>
                                                                <div class="wrapper">
                                                                    <div class="reply">
                                                                        <a class="comment-reply-link btn-from-top btn" href="/wordpress_52146/sequitur-mutationem/aliquam-erat-volutpat/?replytocom=24#respond" onclick="return addComment.moveForm(&quot;comment-24&quot;, &quot;24&quot;, &quot;respond&quot;, &quot;1910&quot;)"><span data-hover="Reply">Reply</span></a>				</div>
                                                                    <div class="comment-meta commentmetadata">May 27, 2014</div>
                                                                </div>
                                                            </div>
                                                        </li><!-- #comment-## -->
                                                    </ul><!-- .children -->
                                                </li><!-- #comment-## -->
                                            </ul><!-- .children -->
                                        </li><!-- #comment-## -->
                                    </ol>
                                    <div class="pagination">

                                    </div>
                                </div>



                                <div id="respond">

                                    <h3>Leave a comment</h3>

                                    <div class="cancel-comment-reply">
                                        <small><a rel="nofollow" id="cancel-comment-reply-link" href="/wordpress_52146/sequitur-mutationem/aliquam-erat-volutpat/#respond" style="display:none;">Click here to cancel reply.</a></small>
                                    </div>


                                    <form action="https://livedemo00.template-help.com/wordpress_52146/wp-comments-post.php" method="post" id="commentform">


                                        <p class="field"><input type="text" name="author" id="author" value="Name*" onfocus="if(this.value=='Name*'){this.value=''}" onblur="if(this.value==''){this.value='Name*'}" size="22" tabindex="1" aria-required="true"></p>

                                        <p class="field"><input type="text" name="email" id="email" value="Email (will not be published)*" onfocus="if(this.value=='Email (will not be published)*'){this.value=''}" onblur="if(this.value==''){this.value='Email (will not be published)*'}" size="22" tabindex="2" aria-required="true"></p>

                                        <p class="field"><input type="text" name="url" id="url" value="Website" onfocus="if(this.value=='Website'){this.value=''}" onblur="if(this.value==''){this.value='Website'}" size="22" tabindex="3"></p>


                                        <!-- <p>You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes: <code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; </code></small></p> -->

                                        <p><textarea name="comment" id="comment" cols="58" rows="10" tabindex="4" onfocus="if(this.value=='Your comment*'){this.value=''}" onblur="if(this.value==''){this.value='Your comment*'}">Your comment*</textarea></p>

                                        <p class="comment_submit"><span class="input-btn btn btn-from-top"><span><input name="submit" type="submit" class="" id="submit" tabindex="5" value="Submit Comment"></span></span>
                                            <input type="hidden" name="comment_post_ID" value="1910" id="comment_post_ID">
                                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                        </p>

                                    </form>

                                </div>

                                <!-- END Comments -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

