<div class="box box-solid" style="max-width: 300px;">
    <div class="box-body no-padding">
        <table id="layout-skins-list" class="table table-striped bring-up nth-2-center">
            <thead>
                <tr>
                    <th style="width: 210px;">Informaci&oacute;n</th>
                    {#<th>Preview</th>#}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>miembro desde el</code></td>
                    <td>
                        <a href="#" data-skin="skin-blue" class="btn btn-primary btn-xs">
                            <i class="fa fa-user"></i> {{ app.user.createdAt|date('d, F Y')}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><code>ultimo login</code></td>
                    <td>
                        <a href="#" data-skin="skin-blue-light" class="btn btn-primary btn-xs">
                            <i class="fa fa-key"></i> {{ "now"|date("Y-m-d H:i:s") }}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>