<header id="top-nav">
    <div class="container">

        {#Logo#}
        <a href="{{ path('frontend_default_index') }}" class="logo">
            {{ application_name }}
        </a>

        {#Top navigation#}
        <nav class="top-menu">

            <ul id="menu-menu-1" class="sf-menu">

                <li id="menu-item-2287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1807 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2287">
                    <a href="{{ path('frontend_default_index') }}">Inicio</a>
                    <ul class="sub-menu">
                        <li id="menu-item-2277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1807 current_page_item menu-item-2277">
                            <a href="{{ path('backend_default_index') }}">Back-end</a>
                        </li>
                        {#<li id="menu-item-2277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1807 current_page_item menu-item-2277">#}
                            {#<a href="#">Home – Default</a>#}
                        {#</li>#}
                        {#<li id="menu-item-2275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2275">#}
                            {#<a href="#">Home – Demo 2</a>#}
                        {#</li>#}
                        {#<li id="menu-item-2274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2274">#}
                            {#<a href="#">Home – Demo 3</a>#}
                        {#</li>#}
                        {#<li id="menu-item-2282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2282">#}
                            {#<a href="#">Home – Slider</a>#}
                        {#</li>#}
                        {#<li id="menu-item-2281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2281">#}
                            {#<a href="#">Home – Hero Background</a>#}
                        {#</li>#}
                        {#<li id="menu-item-2280" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2280">#}
                            {#<a href="#">Home – Fixed Image Slider</a>#}
                        {#</li>#}
                        {#<li id="menu-item-2279" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2279">#}
                            {#<a href="#">Home – Slider Only Text</a>#}
                        {#</li>#}
                        {#<li id="menu-item-2278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2278">#}
                            {#<a href="#">Home – Video Background</a>#}
                        {#</li>#}
                        {#<li id="menu-item-2283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2283">#}
                            {#<a href="#">Home – Canvas 1</a>#}
                        {#</li>#}
                        {#<li id="menu-item-2276" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2276">#}
                            {#<a href="#">Home – Canvas 2</a>#}
                        {#</li>#}
                    </ul>
                </li>

                <li id="menu-item-1085" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1085">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1081" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1081">
                            <a href="#">Blog</a>
                        </li>
                        <li id="menu-item-1191" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1191">
                            <a href="#">Error 404</a>
                        </li>
                        <li id="menu-item-1188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1188">
                            <a href="#">Page – Contact</a>
                        </li>
                        <li id="menu-item-1190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1190">
                            <a href="#">Page – FAQ</a>
                        </li>
                        <li id="menu-item-1189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1189">
                            <a href="#">Page – TERMS</a>
                        </li>
                    </ul>
                </li>

                <li id="menu-item-1084" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1084">
                    <a href="#">Shop</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1181">
                            <a href="#">Shop Page</a>
                        </li>
                        <li id="menu-item-1080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1080">
                            <a href="#">Account</a>
                        </li>
                        <li id="menu-item-1082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1082">
                            <a href="#">Cart</a>
                        </li>
                        <li id="menu-item-1083" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1083">
                            <a href="#">Checkout</a>
                        </li>
                    </ul>
                </li>

                <li id="menu-item-1176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1176">
                    <a href="#features">Características</a>
                </li>

                <li id="menu-item-1177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1177">
                    <a href="#services">Servicios</a>
                </li>

                <li id="menu-item-1178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1178">
                    <a href="#price">Precio</a>
                </li>

                <li id="menu-item-1180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1180">
                    <a href="#contact">Contacto</a>
                </li>

            </ul>

            {#Start WC Cart#}
{#            <div class="br-header-cart">
                <a class="cart-contents" href="cart/" title="View your shopping cart"></a>
            </div>#}
            {#End WC Cart#}

        </nav>

        {#Toggle menu#}
        <a href="#" class="toggle-mnu">
            <span></span>
        </a>

        {#Mobile menu#}
        <div id="mobile-menu">
            <div class="inner-wrap">
                <nav>
                    <ul id="menu-menu-2" class="nav_menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1807 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2287">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1807 current_page_item menu-item-2277">
                                    <a href="#">Home – Default</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2275">
                                    <a href="#">Home – Demo 2</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2274">
                                    <a href="#">Home – Demo 3</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2282">
                                    <a href="#">Home – Slider</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2281">
                                    <a href="#">Home – Hero Background</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2280">
                                    <a href="#">Home – Fixed Image Slider</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2279">
                                    <a href="#">Home – Slider Only Text</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2278">
                                    <a href="#">Home – Video Background</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2283">
                                    <a href="#">Home – Canvas 1</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2276">
                                    <a href="#">Home – Canvas 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1085">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1081">
                                    <a href="#">Blog</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1191">
                                    <a href="#">Error 404</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1188">
                                    <a href="#">Page – Contact</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1190">
                                    <a href="#">Page – FAQ</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1189">
                                    <a href="#">Page – TERMS</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1084">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1181">
                                    <a href="#">Shop Page</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1080">
                                    <a href="#">Account</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1082">
                                    <a href="#">Cart</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1083">
                                    <a href="#">Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1176">
                            <a href="#features">Features</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1177">
                            <a href="#services">Services</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1178">
                            <a href="#price">Price</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1180">
                            <a href="#contact">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        {#end mobile menu#}

    </div>
</header>