<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-title">
                    <h2>
                        <span>{{ application_name }}</span>
                    </h2>
                </div>
                <div class="social-inons">
                    <ul>
                        <li class="icon-circle" >
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="icon-circle" >
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="icon-circle" >
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="icon-circle" >
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="icon-circle" >
                            <a href="#">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bottom-footer white-color">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <p>{{ application_name }}  &copy {{ "now"|date("d, F Y - H:i") }} - All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-menu">
                        <ul id="menu-footer-menu" class="al-footer-menu">
                            <li id="menu-item-1281" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1281">
                                <a href="#">Terms</a>
                            </li>
                            <li id="menu-item-1282" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1282">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li id="menu-item-1283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1283">
                                <a href="#">Licenses</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>

<div class="top icon-down toTopFromBottom">
    <a href="#top-scroll" class="smooth-scroll">
        <i class="pe-7s-angle-up"></i>
    </a>
</div>

<div class="style-customizer closed">
    <div class="buy-button">
        <a href="http://milness.fidex.com.ua/" class="customizer-logo logo">
            {{ application_name }}
        </a>
        <a href="#" class="opener"><i aria-hidden="true" class="fa fa-cog fa-spin fa-fw"></i></a>
        <a href="http://themeforest.com/cart/add_items?ref=Brainiak&amp;item_ids=19519022" target="blanc" class="button button-border btn-buy">Buy now!</a>
    </div>
    <div class="clearfix content-chooser">
        <h3>Color Schemes</h3>
        <p>Which theme color you want to use? Select from here.</p>
        <ul class="styleChange clearfix">
            <li title="color-1" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main1.css" class="color-11 selected"></li>
            <li title="color-2" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main2.css" class="color-2"></li>
            <li title="color-3" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main3.css" class="color-3"></li>
            <li title="color-4" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main4.css" class="color-4"></li>
            <li title="color-5" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main5.css" class="color-5"></li>
            <li title="color-6" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main6.css" class="color-6"></li>
            <li title="color-7" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main7.css" class="color-7"></li>
            <li title="color-8" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main8.css" class="color-8"></li>
            <li title="color-9" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main9.css" class="color-9"></li>
            <li title="color-10" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main10.css" class="color-10"></li>
            <li title="color-11" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main11.css" class="color-1"></li>
            <li title="color-12" data-style="http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main12.css" class="color-12"></li>
        </ul>
        <ul class="resetAll">
            <li><a href="#" class="button button-border button-reset">Reset All</a></li>
        </ul>
    </div>
</div>