<footer class="motopress-wrapper footer">
    <div class="container">
        <div class="row">
            <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="5983a6ba70242">
                <div class="row copyright">

                    <div class="span3" data-motopress-type="static" data-motopress-static-file="static/static-footer-text-add.php">
                        <div class="footer-text-add">
                            <div class="name">WayApp</div>
                            <div class="itunes">
                                <a href="#">
                                    <img src="{{ asset('bundles/core/template-frontend/template-3/images/itunes-white.png') }}">
                                </a>
                            </div>
                            <div class="android">
                                <a href="#">
                                    <img src="{{ asset('bundles/core/template-frontend/template-3/images/android-white.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="span6" data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
                        <div id="footer-text" class="footer-text">

                            {% block paragraph_1 %}
                                &copy; 2017 <a href="xxx" title="" class="site-name">WayApp</a>.
                                <span>All Rights Reserved</span>
                            {% endblock %}

                        </div>
                    </div>

                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-1">
                        <div id="social_networks-5">
                            <ul class="social social__row clearfix unstyled">
                            </ul>
                        </div>
                        <div id="social_networks-4" class="visible-all-devices ">
                            <h4>Follow us:</h4>
                            <ul class="social social__row clearfix unstyled">
                                <li class="social_li">
                                    <a class="social_link social_link__facebook" rel="tooltip" data-original-title="facebook" href="#">
                                        <span class="social_ico"><i class="icon-facebook"></i></span>
                                    </a>
                                </li>
                                <li class="social_li">
                                    <a class="social_link social_link__twitter" rel="tooltip" data-original-title="twitter" href="#">
                                        <span class="social_ico"><i class="icon-twitter"></i></span>
                                    </a>
                                </li>
                                <li class="social_li">
                                    <a class="social_link social_link__instagram" rel="tooltip" data-original-title="instagram" href="#">
                                        <span class="social_ico"><i class="icon-instagram"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-nav.php">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
