# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: tianos
    database_user: root
    database_password: root
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    application_theme_color: '#FF9C00'
    application_version: 2.4.1
    application_url: tianos.com
    application_url_canonical: http://tianos.com
    application_name: 'Tianos'
    application_name_html: '<b>TIA</b>NOS'
    application_fb_app_id: '129906047219991'
    application_google_plus: 'https://plus.google.com/u/0/101583248641629113892'
    application_facebook: 'https://www.facebook.com/Apptianos'
    application_twitter: 'https://twitter.com/tianosApp'
    application_description: 'Aplicación que provee acceso a información almacenada digitalmente'

    sylius.resource.settings: 5555