<header class="motopress-wrapper header">
    <div class="container">
        <div class="row">

            <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header" data-motopress-id="5983a6ba34594">
                <div class="hashAncor" id="homePage"></div>

                <div class="nav-wrap">
                    <div class="row">

                        {#<div class="span3" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">#}
                        <div class="span3" data-motopress-type="static" data-motopress-static-file="">
                            <div class="logo pull-left">
                                <a href="xxxxx" class="logo_h logo_h__img">
                                    <img src="{{ asset('bundles/core/template-frontend/template-3/images/logo.png') }}" alt="WayApp" title="">
                                </a>
                            </div>
                        </div>

                        {#<div class="span9" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">#}
                        <div class="span9" data-motopress-type="static" data-motopress-static-file="">
                            <nav class="nav nav__primary clearfix">
                                <ul id="topnav" class="sf-menu">
                                    <li id="menu-item-1916" class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <a href="#overviewPage">Overview</a>
                                    </li>
                                    <li id="menu-item-1917" class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <a href="#detailPage">Details</a>
                                    </li>
                                    <li id="menu-item-1918" class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <a href="#compatibilityPage">Compatibility</a>
                                    </li>
                                    <li id="menu-item-1919" class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <a href="#reviewsPage">Reviews</a>
                                    </li>
                                    <li id="menu-item-1806" class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="xxxxx">Blog</a>
                                    </li>
                                    <li id="menu-item-1921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                        <a href="xxxxx">Shortcodes</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-1811" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="xxxxx">Testimonials</a>
                                            </li>
                                            <li id="menu-item-1812" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="xxxxx">Archives</a>
                                            </li>
                                            <li id="menu-item-1805" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="xxxxx">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-1915" class="link menu-item menu-item-type-custom menu-item-object-custom">
                                        <a href="#">Download App</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</header>


{#
<header class="motopress-wrapper header">
    <div class="container">
        <div class="row">
            <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header" data-motopress-id="599ee70ea8f09">
                <div class="hashAncor" id="homePage"></div>
                <div class="nav-wrap" style="position: relative; top: 0px;">
                    <div class="row">
                        <div class="span3" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
                            <!-- BEGIN LOGO -->
                            <div class="logo pull-left">
                                <a href="https://livedemo00.template-help.com/wordpress_52146/" class="logo_h logo_h__img"><img src="https://livedemo00.template-help.com/wordpress_52146/wp-content/themes/theme52146/images/logo.png" alt="WayApp" title=""></a>
                            </div>
                            <!-- END LOGO -->		</div>
                        <div class="span9" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
                            <!-- BEGIN MAIN NAVIGATION -->
                            <nav class="nav nav__primary clearfix">
                                <ul id="topnav" class="sf-menu sf-js-enabled"><li id="menu-item-1916" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://livedemo00.template-help.com/wordpress_52146/#overviewPage">Overview</a></li>
                                    <li id="menu-item-1917" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://livedemo00.template-help.com/wordpress_52146/#detailPage">Details</a></li>
                                    <li id="menu-item-1918" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://livedemo00.template-help.com/wordpress_52146/#compatibilityPage">Compatibility</a></li>
                                    <li id="menu-item-1919" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://livedemo00.template-help.com/wordpress_52146/#reviewsPage">Reviews</a></li>
                                    <li id="menu-item-1806" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-103 current_page_item current_page_parent"><a href="https://livedemo00.template-help.com/wordpress_52146/blog/">Blog</a></li>
                                    <li id="menu-item-1921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="https://livedemo00.template-help.com/wordpress_52146/shortcodes/">Shortcodes</a>
                                        <ul class="sub-menu" style="visibility: hidden;">
                                            <li id="menu-item-1811" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_52146/shortcodes/testi/">Testimonials</a></li>
                                            <li id="menu-item-1812" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_52146/shortcodes/archives/">Archives</a></li>
                                            <li id="menu-item-1805" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_52146/shortcodes/faqs/">FAQs</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-1915" class="link menu-item menu-item-type-custom menu-item-object-custom"><a href="https://livedemo00.template-help.com/wordpress_52146/#">Download App</a></li>
                                </ul><select class="select-menu"><option value="https://livedemo00.template-help.com/wordpress_52146/#">Navigate to...</option><option value="https://livedemo00.template-help.com/wordpress_52146/#overviewPage">Overview</option><option value="https://livedemo00.template-help.com/wordpress_52146/#detailPage">Details</option><option value="https://livedemo00.template-help.com/wordpress_52146/#compatibilityPage">Compatibility</option><option value="https://livedemo00.template-help.com/wordpress_52146/#reviewsPage">Reviews</option><option value="https://livedemo00.template-help.com/wordpress_52146/blog/" selected="selected">Blog</option><option value="https://livedemo00.template-help.com/wordpress_52146/shortcodes/">Shortcodes</option><option value="https://livedemo00.template-help.com/wordpress_52146/shortcodes/testi/">–Testimonials</option><option value="https://livedemo00.template-help.com/wordpress_52146/shortcodes/archives/">–Archives</option><option value="https://livedemo00.template-help.com/wordpress_52146/shortcodes/faqs/">–FAQs</option><option value="https://livedemo00.template-help.com/wordpress_52146/#">Download App</option></select></nav><!-- END MAIN NAVIGATION -->		</div>
                    </div>
                </div><div class="pseudoStickyBlock" style="position: relative; display: block; height: 0px;"></div>					</div>
        </div>
    </div>
</header>
#}