{% extends 'CoreBundle::Crud/Template/api_content.html.twig' %}

{% block api_content %}
    <div class="box box-solid">
        {#<div class="box-header with-border">#}
            {#<h3 class="box-title">About Me</h3>#}
        {#</div>#}

        <div class="box-body">

            <strong>
                <i class="fa fa-book margin-r-5"></i> Nombre
            </strong>

            <p class="text-muted">
                {{ entity.name }}
            </p>

            <hr>

            <strong>
                <i class="fa fa-pencil margin-r-5"></i> Skills
            </strong>

            <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
            </p>

            <hr>

            <strong>
                <i class="fa fa-file-text-o margin-r-5"></i> Notes
            </strong>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

        </div>
    </div>
{% endblock %}