{% spaceless %}
    <script id="jquery_tmpl_2" class="template" type="text/x-jquery-tmpl">
        <span class="label label-default">
            ${code}
        </span>
        <span class="text">
            ${name}
        </span>
    </script>
{% endspaceless %}