<div class="box-header with-border">
    <h3 class="box-title">
        <i class="fa fa-fw fa-comments-o"></i> Que piensas?
        {#<span class="fb-comments-count" data-href="http://example.com/"></span>#}
    </h3>
    <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Colapsar">
            <i class="fa fa-minus"></i>
        </button>
    </div>
</div>
<div class="box-body">
    <div
        class="fb-comments"
        data-width="100%"
        data-numposts="5"
        data-href="{{ url('backend_google_drive_grid_watch', {slug: entity.slug}) }}"
    ></div>
</div>