<div class="row">
    <div class="col-md-6">
        <img src="{{ qr }}" class="img-responsive img-thumbnail">
    </div>
    <div class="col-md-6">
        <p><i class="fa fa-fw fa-mobile"></i>Desde tu movil, scanea el c&oacute;digo con un QR reader para acceder a este post!</p>
        <p>Si no tienes un reader, puedes descargarlo desde
            <a href="https://play.google.com/store/search?q=qr%20reader&c=apps&hl=en" target="_blank" style="color: white; text-decoration: underline">aqui</a>
        </p>
    </div>
</div>


