<div class="box-header with-border">
    <h3 class="box-title">
        <i class="fa fa-fw fa-share"></i> Compartir
    </h3>
    <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Colapsar">
            <i class="fa fa-minus"></i>
        </button>
    </div>
</div>
<div class="box-body">
    <div class="col-md-3">
        <a class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook"></i> Facebook
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-block btn-social btn-twitter">
            <i class="fa fa-twitter"></i> Twitter
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-block btn-social btn-google">
            <i class="fa fa-google-plus"></i> Google
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-block btn-social btn-instagram">
            <i class="fa fa-instagram"></i> Instagram
        </a>
    </div>
</div>