server {
    listen 80;
    root /tianos/web/;
    server_name tianos.com;

    location / {
        try_files $uri /app_dev.php$is_args$args;
    }

    location ~ ^/(app_dev|config)\.php(/|$) {
        fastcgi_pass unix:/run/php/php7.0-fpm.sock;
        include fastcgi_params;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        fastcgi_param  SCRIPT_FILENAME  $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    keepalive_timeout 10;
    error_log /var/log/nginx/tianos_error.log;
    access_log /var/log/nginx/tianos_access.log;
}

