<!DOCTYPE html>
<html lang="en">
<head>

    {% block stylesheets %}

        {#{% stylesheets#}
        {#filter='cssrewrite'#}
        {#'@ThemesBundle/Resources/public/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'#}
        {#'@ThemesBundle/Resources/public/adminlte/plugins/pace/pace.min.css'#}

        {#'@ThemesBundle/Resources/public/common/css/tianos.css'#}
        {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
        {#{% endstylesheets %}#}

    {% endblock %}

</head>
<body>

<div style="background-color: yellow">

{% block content %}

{% endblock %}

</div>

{% block javascripts %}

    {#{% javascripts#}
    {#'@ThemesBundle/Resources/public/adminlte/plugins/jQuery/jquery-2.2.3.min.js'#}
    {#'@ThemesBundle/Resources/public/adminlte/bower_components/PACE/pace.min.js'#}

    {#%}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script type="text/javascript">

    </script>

{% endblock %}

</body>
</html>