{% extends "ThemesBundle:Adminlte:1_template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .box-body > a > .image-container {
            min-height:300px;
            max-height:300px;
            overflow:hidden;
        }
        .box-body > a > .image-container > img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <section class="content">

        xxxxxxxxxxx

    </section>
{% endblock %}