{% extends "ThemesBundle:Adminlte:1_template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">

            {% for i in 0..10 %}

                <div class="col-md-3">
                    <div class="box box-widget">

                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user1-128x128.jpg" alt="User Image">
                                <span class="username"><a href="#">Jonathan Burke</a></span>
                                <span class="description">Shared publicly - 7:30 PM Today</span>
                            </div>
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                                    <i class="fa fa-circle-o"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="box-body">
                            <img class="img-responsive pad" src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/photo2.png" alt="Photo">
                            <p>I took this photo this morning. What do you guys think?</p>
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <span class="pull-right text-muted">127 likes - 3 comments</span>
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>
    </section>
{% endblock %}