{% spaceless %}
    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-outline">Subir archivo</button>
{% endspaceless %}

