{% extends "ThemesBundle:Adminlte/TemplatePdv:1_template_security.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="login-box">

        <div class="login-logo">
            <b>Log</b>IN
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">
                <strong>PDV:</strong> valide la ruta del Punto de Venta.
            </p>
        </div>
    </div>

{% endblock %}

