{% spaceless %}
    <div class="modal modal-success fade" id="modal-create-employee">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
{% endspaceless %}