{% if status %}
    <tr>
        <td>
            <span class="badge bg-green">
                {{ client.id }}
            </span>
        </td>
        <td style="width: 30px">
            <img
                src="{{ asset('bundles/themes/common/images/no_avatar.jpg') }}"
                style="max-height: 30px"
                class="img-circle">
        </td>
        <td>
            {{ client.name_box|trim }}
        </td>
        <td class="text-center">
            {{ client.created_at|date('Y-m-d') }}
        </td>
        <td class="text-right">
            <button
                type="button"
                class="btn btn-danger btn-xs btn-remove-client">
                <i class="fa fa-fw fa-trash-o"></i>
            </button>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="4">
            El cliente no retorno data.
        </td>
    </tr>
{% endif %}


