{% extends 'GridBundle::Template/crud_modal_content.html.twig' %}

{% block crud_modal_content %}
    <div class="box box-solid">
        {#<div class="box-header with-border">#}
            {#<h3 class="box-title">About Me</h3>#}
        {#</div>#}

        <div class="box-body">

            <strong>
                <i class="fa fa-book margin-r-5"></i> Nombre
            </strong>

            <p class="text-muted">
                {{ entity.name }}
            </p>

            <hr>

            <div class="row">

                <div class="col-md-6">
                    <strong>
                        <i class="fa fa-map-marker margin-r-5"></i> Latitud
                    </strong>

                    <p class="text-muted">
                        {{ entity.latitude }}
                    </p>
                </div>

                <div class="col-md-6">
                    <strong>
                        <i class="fa fa-map-marker margin-r-5"></i> Longitud
                    </strong>

                    <p class="text-muted">
                        {{ entity.longitude }}
                    </p>
                </div>

            </div>

            <hr>

            <strong>
                <i class="fa fa-book margin-r-5"></i> Login link
            </strong>

            <p class="text-muted">
                <input value="{{ url('backend_security_pdv_login', {slug: entity.slug}) }}" class="form-control" readonly>
            </p>

        </div>
    </div>
{% endblock %}