{% extends "ThemesBundle:Adminlte/TemplatePdv:1_template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2013',  1000,      400],
                ['2014',  1170,      460],
                ['2015',  660,       1120],
                ['2016',  1030,      540]
            ]);

            var options = {
                title: 'Desempeño de la compañía',
                hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chartDiv1'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawVisualization);

        function drawVisualization() {
            // Some raw data (not necessarily accurate)
            var data = google.visualization.arrayToDataTable([
                ['Month', '1 Salon', '2 Salon', '3 Salon', '4 Salon', '5 Salon', '6 Salon'],
                ['2004/05',  165,      938,         522,             998,           450,      614.6],
                ['2005/06',  135,      1120,        599,             1268,          288,      682],
                ['2006/07',  157,      1167,        587,             807,           397,      623],
                ['2007/08',  139,      1110,        615,             968,           215,      609.4],
                ['2008/09',  136,      691,         629,             1026,          366,      569.6]
            ]);

            var options = {
                title : 'Lista de clientes por periodo',
                vAxis: {title: 'Clientes'},
                hAxis: {title: 'Meses'},
                seriesType: 'bars',
                series: {5: {type: 'line'}}
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chartDiv2'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work',     11],
                ['Eat',      2],
                ['Commute',  2],
                ['Watch TV', 2],
                ['Sleep',    7]
            ]);

            var options = {
                title: 'My Daily Activities'
            };

            var chart = new google.visualization.PieChart(document.getElementById('chartDiv3'));

            chart.draw(data, options);
        }
    </script>

{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            Dashboard
            <small>Version {{ application_version }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home
                </a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <section class="content">

        <div class="row">

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>150</h3>
                        <p>Tickets creados</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-fw fa-ticket"></i>
                    </div>
                    <a href="#" class="small-box-footer">Distribuidos hoy <i class="fa fa-truck"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>15<sup style="font-size: 20px">%</sup></h3>
                        <p>Rotura de Stock</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">Valor optimo <i class="fa fa-fw fa-check"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>233</h3>
                        <p>Usuarios registrados</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">Info <i class="fa fa-user"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>67</h3>
                        <p>Nuevos clientes</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">Info <i class="fa fa-mobile"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-fw fa-money"></i>
                            Ingresos del sal&oacute;n
                        </h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="text-center">
                                    {#<strong>Distribución: 3333</strong>#}
                                </p>
                                <div class="chart" id="chartDiv1"></div>
                            </div>

                            <div class="col-md-4">
                                <p class="text-center">
                                    <strong>Datos Internos</strong>
                                </p>

                                <div class="progress-group">
                                    <span class="progress-text">Total de Productos</span>
                                    <span class="progress-number"><b>33</b> / 100</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-aqua" style="width: 70%"></div>
                                    </div>
                                </div>

                                <div class="progress-group">
                                    <span class="progress-text">Total de Usuarios</span>
                                    <span class="progress-number"><b>44</b> / 100</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                                    </div>
                                </div>

                                <div class="progress-group">
                                    <span class="progress-text">Inicio de visitas</span>
                                    <span class="progress-number"><b>55</b> / 100</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-green" style="width: 60%"></div>
                                    </div>
                                </div>

                                <div class="progress-group">
                                    <span class="progress-text">Productos distribuidos Hoy</span>
                                    <span class="progress-number"><b>66</b> / 100</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-yellow" style="width: 45%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-fw fa-map-marker"></i> Nuevos clientes
                        </h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-md-11 col-sm-11">
                                <div class="pad" id="chartDiv2"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-fw fa-globe"></i> Uso de cliente (Browser)
                        </h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="chart-responsive" id="chartDiv3"></div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#">
                                    Chrome
                                    <span class="pull-right text-red">
                                        <i class="fa fa-angle-down"></i> 12%
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    IE
                                    <span class="pull-right text-green">
                                        <i class="fa fa-angle-up"></i> 4%
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    FireFox
                                    <span class="pull-right text-yellow">
                                        <i class="fa fa-angle-left"></i> 0%
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}