{% spaceless %}
    <div class="modal modal-success fade in" id="{{ modal.create_id }}">
        <div class="modal-dialog {{ modal.create.size|default()  }}">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <i class="fa fa-fw fa-plus"></i>
                        {{ modal.create.title|default('sylius.form.user.modal.create.title'|trans ) }}
                        <i class="fa fa-refresh fa-spin" style="color: white; margin-left: 10px; display:none"></i>
                    </h4>
                </div>

                <form name="{{ form_mapper.create_name }}" method="post">
                    <div class="crud-modal-content"></div>
                </form>

            </div>

        </div>
    </div>
{% endspaceless %}